<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring.example.mappers.MemberMapper">

    <!-- insert -->
    <insert id="memberInsert" parameterType="memberVO">
        insert into member(id, password, name, age, email, phone)
        values(#{id}, #{password}, #{name}, #{age}, #{email}, #{phone});
    </insert>
    <!-- insert -->

    <!-- select -->
    <select id="memberList" resultType="memberVO">
        select * from member;
    </select>

    <select id="memberContent" parameterType="Integer" resultType="memberVO">
        select * from member where number=#{number};
    </select>
    <!-- select -->

    <!-- update -->
    <update id="memberUpdate" parameterType="memberVO">
        update member set age=#{age}, email=#{email}, phone=#{phone} where number=#{number};
    </update>
    <!-- update -->

    <!-- delete -->
    <delete id="memberDelete" parameterType="Integer">
        delete from member where number=#{number};
    </delete>
    <!-- delete -->

</mapper>